:root body {
  font-variant-numeric: tabular-nums;
  font-family: "poppins", "Noto Sans CJK", sans-serif, "Twemoji Chromium";
  background-color: #171717;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
}

::placeholder {
  color: grey !important;
}

.modal-backdrop {
  outline: none !important;
  border: none !important;
  user-select: none !important;
}

.step {
  font-size: 12px !important;
}

.step-neutral::after {
  color: #fff !important;
  background-color: #3d3e40 !important;
}

.step-primary::after {
  background-color: #ab9ff2 !important;
  height: 24px !important;
  width: 24px !important;
}

.step-neutral::after {
  height: 24px !important;
  width: 24px !important;
}

.step-primary::before {
  height: 2px !important;
  background-color: #ab9ff2 !important;
}

.step-neutral::before {
  height: 2px !important;
  background-color: #3d3e40 !important;
}
